<style>
h2{
	text-align: center;
}
table{
	margin: auto;
}
#pass_form{
	margin: 0 auto;
	width: 20%;
}
#btn_reset{
	margin-left: 250px;
}
</style>

<h2>Reset Your Password </h2>
<div id='pass_form'>
	<form action='/password/reset/<%= @user.password_reset_token %>' method='post'>
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<div class='row'>
			<div class='small-12 columns'>
			<label for='password'>Password</label>
				<input type='password' name='password' id='password' placeholder='password'>
			</div>
		</div>
		<div class='row'>
			<div class='small-12 columns'>
			<label for='passconf'>Password (Confirmation)</label></th>
			<input type='password' name='password_confirmation' id='passconf' placeholder='confirmation'>
			</div>
		</div>
		<input type='submit' value='Submit' class='button tiny' id='btn_reset'>
	</form>
</div>
