<!DOCTYPE html>
<html>
  <style>
  table{
    border: 2px solid black;
  }
  tr, td{
    border: 1px solid black;
    text-align: center;
  }
  </style>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.first_name %></h1>
    <p> You recently requested a password reset.
      Please click the following link to reset your password:
      <a href='http://www.inhisname-wepray.com/password/<%=@user.password_reset_token %>'>Reset Password</a>
    </p>
  </body>
  </html>