<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to InHisName-WePray.com, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up.
      Please don't forget to take a look at the 
      <a href='http://www.inhisname-wepray.com/prayers/overview'>Site Overview </a> when you have some time.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>