<style>
.gospel_content{
	border: 3px solid #555555;
	padding: 10px;
	margin: 30px;
	background: silver;
}
blockquote{
	/*font-size: 50%;*/
	color: #444444;
}
table{
	margin: 3px;
	/*background-color:  #5C85AD;*/
}
h2, h3{
	text-align: center;
}
p {
	text-indent: 30px;
}
#worldview_list{
	margin-left: 250px;
}
#gospel_points{
	margin-left: 200px;
}
#john3-16{
	margin-left: 200px;
}
</style>

<h2>Gospel</h2>
<div id='worldview' class='gospel_content'>
	<h3>What is a Worldview?</h3>
	<p>A worldview is a frame of reference which each of us has in order to interpret the world and his (or her life). Essentially, it is a collection of beliefs about life that an individual or a group of people hold. Everyone has a worldview.
	It answers (or tries to) the following questions:
		<ul id="worldview_list" class='content_list'>
			<li>How did we come to exist (where did we come from)?</li>
			<li>What is the purpose or meaning of our existence?</li>
			<li>What is the main problem of our world?</li>
			<li>Is there an absolute truth? </li>
			<li>What happens after death? </li>
		</ul>
	</p>
</div>

<div id='what' class='gospel_content'>	
	<h3>What is “The Gospel?”</h3> 
	<p>
		Gospel means ‘good news’ and it is referred to as such, because it is really great news that Jesus Christ has died for our sins and, even more than that, conquered death for us. Because Christ took the punishment in our place, those of us who choose to believe and submit to his lordship are considered holy and righteousness before God, and therefore have restored relationship with God.

		The apostle John sums it up for us in his famous verse, John 3:16:
		<blockquote id='john3-16'>
			“For God so loved the world,[a] that he gave his only Son, that whoever believes in him should not perish but have eternal life."
		</blockquote>
	</p>


	<h3>Why was this necessary?</h3>
	<p>
		In brief summary of biblical history, sin was introduced through The Fall of Adam and Eve. Ever since, every human that has been brought to life on this earth has fallen short of God’s holiness (Romans). Sin is essentially the state of rebellion toward God- we reject his commands and assume the authority that He has in our lives. It is because of our fallen, sinful state that we are unable to stand before the presence of the perfect, holy God, who created us and gave us of his spirit. In fact, the consequence of our rebellion toward God is death and Hell- eternal separation from God. However, God’s master plan has always included Jesus (Jesus was, even before the world was created). When the time was right, God came down to earth, as Jesus, who was both God and man, to not only redeem us, but even more, to glorify Himself. Through Jesus, God chose to limit his powers and suffer life on earth, if only to show us the love He has for us.  Because death is a just consequence of our sin, a life must be paid for our sins. It was our sins that put Jesus on the cross- and it is his death that atones for all sin in all eternity (for all who believe- those that God has elected). However, not only had Jesus died for our sins, but three days later, he rose from the dead, conquering death- it was only through Jesus, both God and man, that God’s will for humankind could be accomplished while maintaining his justice (getting what we deserve- Jesus took our punishment), mercy (not receiving what we deserve- death), and grace (unmerited favor, or getting what we don’t deserve- an untainted, unblemished, holy, sanctified standing before God).
	</p>
	<p>
		Essentially: 
		<ul id="gospel_points" class='content_list'>
			<li>God created man, who was of His own spirit</li>
			<li>God's intention for man was to have fellowship with Him</li>
			<li>Man sinned- rebellion towards his Creator</li>
			<li>Sin created an eternal separation from God</li>
			<li>God introduced moral law to man</li>
			<li>Man's sinful state could not keep God's moral law</li>
			<li>God entered into the world as Jesus Christ(both God and man)</li>
			<li>Jesus suffered as man suffered, all the while glorifying God</li>
			<li>Jesus Christ died on the cross for all mankind, and paid our (mankind's) penalty
				<ul class='subcontent_list'>
					<li>God's justice was fulfilled (punishment for sin)</li>
					<li>God's mercy was extended (mankind did not pay punishment)</li>
					<li>God's grace was given (mankind can now have relationship with God once again)</li></ul>
			</li>
			<li>Jesus conquered death and rose from the grave in 3 days</li>
			<li>Man can now be sanctified (stand before a holy God as holy and righteous through faith in Christ Jesus)</li>
			<li>Jesus promises to come back to earth (His second coming)</li>
			<li>God imparts the Holy Spirit to believers</li>
			<li>Man now can have eternal life and inherit God's kingdom with Christ Jesus</li>
		</ul>
	</p>
</div>
