<style>
.prayer_content{
	border: 3px solid #555555;
	padding: 10px;
	margin: 30px;
	background: silver;
}
blockquote{
	/*font-size: 50%;*/
	color: #444444;
}
table{
	margin: 3px;
	/*background-color:  #5C85AD;*/
}
h2, h3{
	text-align: center;
}
p {
	text-indent: 30px;
}
.ref{
	text-align: center;
}
blockquote{
	margin-left: 200px;
}
th{
	text-align:center;
	background-color: #5C85AD;
}
.table_link{
	color: #444444;
}
/*$table-bg: $white;
$table-even-row-bg: $snow;*/
</style>
<h2>Prayer</h2>
<div id='what' class='prayer_content'>
	<h3>What is Prayer? </h3>
		<p> 
			When we think of prayer, some of us associate prayer with calling out or talking to an unknown being who might not be there or who seems never to answer. <strong>This is not true</strong>.
		</p>
		<p>
			Praying is essentially communicating and communing with God. To have a full appreciation of prayer, one needs to fully understand the <a href='/prayers/gospel'>gospel</a>.God is an incredibly personal being and prayer is the primary means of which we connect, relate, and communicate with Him. It is essential to our growth in heart attitude and character. It was a primary activity of the early church (Acts 2:42).
		</p>
			<p>Prayer is a blessing- before Jesus entered into the world, the biblical history tells us that communication with God was only possible through the Jewish High Priest, and only after several cleansing rituals. Additionally, before Jesus Christ’s redemptive death, our sins were only covered through animal sacrifice- it was only by Jesus’ death that we could ask for God’s forgiveness through confession in prayer. Now it is Jesus who now acts as our high priest and intercessor in heaven (Hebrews 7:24-25). Ultimately, through prayer, we grow in our personal trust relationship with God and are transformed into Christ-likeness. 
		</p>
</div>
<div id='why' class='prayer_content'>
	<h3>Why Should We Pray ?</h3>
			<p>Every relationship requires communication to grow - we cannot grow in our relationship to God without dialogue- prayer is our response to His words. In fact, God commands us to pray.
				<ul class='ref'>References: 
				<li><a href='#Eph6-18'>Ephesians 6:18</a>, </li>
				<li><a href='#Rom12-12'>Romans 12:12</a>, </li>
				<li><a href='#Phil4-6'>Philippians 4:6</a>, </li>
				<li><a href='#1Thess5-16'>1 Thessalonians 5;16-18</a></li>
				</ul> 			
			</p>
			<p>Prayer is effective. Not only can it change situations- it also changes people. We are encouraged to pray expecting results. This has been shown not only in the Bible, but through the experiences of many believers. 

			<ul class='ref'>References: 
				<li><a href='#1John5-14'>1 John 5:14</a>, </li>
				<li><a href='#Matt7-7'>Matthew 7:7</a>, </li>
				<li><a href='#Mark11-24'>Mark 11:24</a>, 	</li>		
				<li><a href='#Matt18-19'>Matthew 18:19</a>,</li>
				<li><a href='#James5-6'>James 5:6</a>,</li>
				<li><a href='#John15-7'>John 15:7</a></li>
				</ul>
			</p>
			<p>There are three ways God generally answers our prayers: Yes, No, or Wait. Even when God doesn't answer our prayers in the way we want or expect Him, we must trust that He has our best interest and submit to His will. Jesus demonstrates this to us as he prayed to our Father in the Garden of Gethsemane (Matthew 26:39):

					<blockquote>"And going a little farther he fell on his face and prayed, saying, “My Father, if it be possible, let this cup pass from me; nevertheless, not as I will, but as you will.”
					</blockquote>

					While Jesus prayed that the cup be taken from Him, He submitted his will to God's will. It was only through His crucifixion that salvation could be achieved for believers. In this prayer, Jesus continued to be in communion with God and trust in God, even though God did not answer as He wanted.   

			</p>
</div>
<div id='how' class='prayer_content'>
	<h3>How Should We Pray?</h3>
		<p>Because prayer is essential communion with a personal God, it is important to come before it with the right attitude. In prayer, we express our submission to God's sovereignty and our trust in his faithfulness.
		</p>
		<p>It is our faith in Christ Jesus that sanctifies us and allows us to have fellowship with God. We are encouraged to approach God's throne with confidence in our time of need (<a href='#Hebrews4-16'>Hebrews 4:16</a>)
		</p>
		<p>Effective prayer can be hindered by the state of our heart. God does not listen to the prayers of those who cherish sin (<a href='#Psalm66-18'>Psalm 66:18</a>, <a href='#John9'>John 9:31</a>). We must also not ask with wrong intentions (<a href='#James4-3'>James 4:3</a>). Ultimately, God may refuse to listen to us because of our iniquities (Isaiah 59:1-2):

		<blockquote>
		Surely the arm of the Lord is not too short to save,
    <br>	nor his ear too dull to hear.
		<br>But your iniquities have separated
    <br>	you from your God;
		<br>	your sins have hidden his face from you,
    <br>	so that he will not hear.
   		 </blockquote>
   		 <strong>God answers the prayers of those who turn away from their sin and seek Him and submit to His will </strong>
   		 (<a href='#2Chron7-14'>2 Chronicles 7:14</a>, <a href='#Jerm29'>Jeremiah 29:11-14</a>).
		</p>
		<p>	One of the most well-known prayer models
		 amongst Christians is called ACTS, short for: Adoration, Confession, Thanksgiving, and Supplication. Additionally, we can also think of Intercession.
		<br>
		<strong>Adoration (or Praise)</strong> – focusing on who God is and his attributes, giving God the glory He deserves.
		<br>
		<strong>Confession</strong>- confessing and bring forth to God our sins. This is when we admit and own up to our specific sins before God. It is only by our faith that God renews our heart and forgives us. Ultimately, our fellowship with God is restored.
		<br>
		<strong>Thanksgiving</strong> – giving thanks to God for the blessings that He’s provided and done for us.
		<br>
		<strong>Supplication</strong> – bringing to God our spiritual and physical needs. 
		<br>
		<strong>Intercession</strong> – bringing to God others’ needs
		</p>

		<p>In fact, Jesus models prayer for us in Matthew 6:9-13
			<blockquote>
				9 “This, then, is how you should pray:
			<br>“‘Our Father in heaven,
			<br>hallowed be your name,
			<br>10 your kingdom come, your will be done,
			<br>  on earth as it is in heaven.
			<br>11 Give us today our daily bread.
			<br>12 And forgive us our debts,
			    as we also have forgiven our debtors.
			<br>13 And lead us not into temptation,[a]
			    but deliver us from the evil one.[b]’
			</blockquote>
		<p>
</div>
<div class='prayer_content'>
<h3>Encouragement and Exhortations for Prayer- Bible Verses (ESV) :</h3>
<table>
	<col width=20%>
	<col width=80%
	<tr>
		<th colspan='2'>
			<a href='#what' class='table_link'>What is Prayer?</a>
		</th>
	</tr>
	<tr>
	<td>Acts 2:42</td>
		<td>"They devoted themselves to the apostles’ teaching and to fellowship, to the breaking of bread and to prayer."
	</td>
	</tr>
	<tr>
		<td>Hebrews 7:24-25</td>
		<td>"but because Jesus lives forever, he has a permanent priesthood. Therefore he is able to save completely those who come to God through him, because he always lives to intercede for them." 
		</td>
	</tr>
	<tr>
		<th colspan='2'>
			<a href='#why' class='table_link'>Why Should We Pray?</a>
		</th>
	</tr>
	<tr>
		<td id='Eph6-18'>Ephesians 6:18</td>
		<td>
			"And pray in the Spirit on all occasions with all kinds of prayers and requests. With this in mind, be alert and always keep on praying for all the Lord’s people."
		</td>
	</tr>
	<tr>
		<td id='Rom12-12'>Romans 12:12</td>
		<td>
			"Rejoice in hope, be patient in tribulation, be constant in prayer."
		</td>
	</tr>
	<tr>
		<td id='Phil4-6'>Philippians 4:6 </td>
		<td>
		 "Do not be anxious about anything, but in every situation, by prayer and petition, with thanksgiving, present your requests to God. And the peace of God, which transcends all understanding, will guard your hearts and your minds in Christ Jesus."
		</td>
	</tr>
	<tr>
		<td id='1Thess5-16'>1 Thessalonians 5:16-18</td>
		<td>
			"Rejoice always, pray continually, give thanks in all circumstances; for this is God’s will for you in Christ Jesus."
		</td>
	</tr>
	<tr>
		<td id='1John5-14'>1 John 5:14	</td>
		<td>"This is the confidence we have in approaching God: that if we ask anything according to his will, he hears us."
		</td>
	</tr>
	<tr>
		<td id='Matt7-7'>Matthew 7:7</td>
		<td>
			“Ask, and it will be given to you seek, and you will find; knock, and it will be opened to you."
		</td>
	</tr>
	<tr>
		<td id='Mark11-24'>Mark 11:24 </td>
		<td>"Therefore I tell you, whatever you ask for in prayer, believe that you have received it, and it will be yours.""
		</td>
	</tr>
	<tr>
		<td id='Matt18-19'>Matthew 18:19
		</td>
		<td> “Again, truly I tell you that if two of you on earth agree about anything they ask for, it will be done for them by my Father in heaven."</td>
	</tr>
	<tr>
		<td id='James5-16'>James 5:16
		</td>
		<td> “The prayer of a righteous person is powerful and effective."
		</td>
	</tr>
	<tr> 
		<td id='John15-7'>John 15:7
		</td>
		<td>"If you remain in me and my words remain in you, ask whatever you wish, and it will be 	
			done for you.""
		</td>
	</tr>
	<tr>
		<th colspan='2'>
			<a href='#how' class='table_link'>How Should We Pray?</a>
		</th>
	</tr>
	<tr> 
		<td id='Hebrews4-16'>Hebrews 4:16-17
		</td>
		<td>"Let us then with confidence draw near to the throne of grace, that we may receive mercy and find grace to help in time of need."
		</td>
	</tr>
	<tr> 
		<td id='Hebrews4-16'>Hebrews 4:16-17
		</td>
		<td>"Let us then with confidence draw near to the throne of grace, that we may receive mercy and find grace to help in time of need."
		</td>
	</tr>
	<tr> 
		<td id='Psalm66-18'>Psalm 66:18
		</td>
		<td>"If I had cherished iniquity in my heart,
    	the Lord would not have listened."
		</td>
	</tr>
	<tr>
	 	<td id='Prov15'>Proverbs 15:29
		</td>
		<td>"The Lord is far from the wicked, but he hears the prayer of the righteous."
		</td>
	</tr>
	<tr>
	 	<td id='John9'>John 9:31</td>
		<td>"We know that God does not listen to sinners. He listens to the godly person who does his will."
		</td>
	</tr>
	<tr>
	 	<td id='James4-3'>James 4:3
		</td>
		<td>"You ask and do not receive, because you ask wrongly, to spend it on your passions."
		</td>
	</tr>
	<tr>
	 	<td id='2Chron7-14'>2 Chronicles 7:14</td>
		<td>"if my people, who are called by my name, will humble themselves and pray and seek my face and turn from their wicked ways, then I will hear from heaven, and I will forgive their sin and will heal their land."
		</td>
	</tr>
	</tr>
	 	<td id='Jerm29'>Jeremiah 29:11-13</td>
		<td>"For I know the plans I have for you,” declares the Lord, “plans to prosper you and not to harm you, plans to give you hope and a future. Then you will call on me and come and pray to me, and I will listen to you. You will seek me and find me when you seek me with all your heart."
		</td>
	</tr>


</table>
<div>