<style>
.overview_content{
	border: 3px solid #555555;
	padding: 10px;
	margin: 30px;
	background: silver;
}
blockquote{
	/*font-size: 50%;*/
	color: #444444;
}
table{
	margin: 3px;
	/*background-color:  #5C85AD;*/
}
h2, h3{
	text-align: center;
}
p {
	text-indent: 30px;
}
li {
	display: list-item
}
#overview_content{
	margin-left: 80px;
}
.bullet ul li{
	font-size: 90%;
}
#vis{
	font-size: 75%;
}
</style>
<h2>Site Overview</h2>

<div class='overview_content'>

<p>While many of us are different, we are all brought together as brothers and sisters in Christ. One of the easiest and best ways we can love each other is to pray for each other. InHisName-WePray.com was designed for us to love each other in this way. Additionally, it can be a good way for us to keep those in prayer who have busy schedules, do not have regular attendance in our spiritual community, or have moved away. Participating members are encouraged to pray for each other, both locally, and for our greater universal church. 
</p>
<p> 
	Here are some of the main features to this site:
	
  <ul id='overview_content' class='square content_list'>
  	<li>
		<p class='bullet'>Any registered member can post a prayer request.
		<ul class='subcontent_list circle'>
			<li>Prayer requestor can allow the whole WePray prayer 	
				community to see it or even just limit to preferences within their own local spiritual community (ie, only members that share the same church or fellowship will see their request).
			</li> 
			<li>Each prayer requestor can also post a request under 
				an alias (username) and these posts will be 
				invisible to any searches for that person's first or last name.
			</li>
			<li>When a request has been answered, the requestor is
			 	encouraged to 'Praise God' whatever the answer may be, and to let the spiritual community know the result of our efforts.
			 </li>
			 <li>Please use discretion in request postings if personal information may be involved. Be mindful of other people. If something should not be posted to the spiritual community, and should only be shared with a small group of people, limit visibility to the specified people - or refer to this person by the first letter of their name- or just don't post it at all. 
			 </li>
			</ul>
		</p>
	</li>
	<li>
		<p class='bullet'>Members are encouraged to pray for prayer requests for their local spiritual community, as well as any others that speak to them. 
		<ul class='subcontent_list circle'>
			<li>Those members that are particularly concerned or 
				called to pray for requests for multiple weeks can 'subscribe' to the requests- and these prayer requests will be listed in their weekly email digest (provided that it has been turned on) for a specified number of weeks (3 is the default).
			</li>
			<li>Prayer subscriptions can be managed in each member's 
				praylist page.
			</li>
			<li>Additionally, when a request is closed (or when the requestor sees it as ‘praised’), an email will be sent.
			</li>
			<li>Otherwise, prayer requests that have been prayed for (those which the member hit 'Pray' will be listed once for that week). 
			</li>
		</ul>
		In this way, members are sent a weekly prayer request listing of those prayer requests to remind them of the needs of the community.
		</p> 
	</li> 
	<li>
		<p class='bullet'>The default settings for each new registered member is turned off for email notifications for weekly request subscription digest, ‘liked’ prayers, and comments (on your requests) for consideration of the user. However, to harness the full benefits, it is encouraged for you to turn each of these on in your profile settings.
		</p>
	</li>
  </ul>
   	That's pretty much it! InHisName-WePray.com is the last project piece before I start my career search in web development. This was an idea I’ve had for a while, and I hope that it is of use to you and your spiritual community.
  </p>

    <p id='vis'>
  *note: for filters and advanced search to work effectively, members of the same group (church, church campus, fellowship) should spell the name EXACTLY.
  Suggested convention(or example) for Lighthouse Bible Church, Eastbay- church: Lighthouse Bible Church, church_campus: Eastbay.
  </p> 
</div>